<div ng-if="$ctrl.item === null">Not Signed Up Yet.
  <div><a ui-sref="signup">Sign up now!</a></div>
</div>
<div class="container" ng-if="$ctrl.item">
<div class="panel-body">
<div class="row">
  <div class="col-xs-4">
    <div>{{ $ctrl.item.fullname }}</div>
    <div>{{ $ctrl.item.email }}</div>
    <div>{{ $ctrl.item.phone }}</div>
  </div>
  <div>
    <div>{{ $ctrl.item.favorite}}</div>
    <div class="menu-item-photo">
      <img class="img-responsive" width="250" height="150" 
        ng-src="{{$ctrl.item.basePath}}/images/{{$ctrl.item.favorite}}.jpg" 
        alt="{{$ctrl.item.favorite}}">
    </div>
  </div>
</div>
</div>
</div>